.footer {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.03em;
  background-color: var(--footer-backgroung-color);

  &-content {
    display: flex;
    align-items: baseline;
  }
}

.address-container {
  margin-right: 70px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-background-color);
  letter-spacing: 0.03em;

  &__list {
    list-style: none;
    padding-left: 0;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__map {
    color: inherit;
    text-decoration: none;
    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--primary-accent-color);
    }
  }
  &__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--primary-accent-color);
    }
  }
}

.footer-social__header {
  margin-bottom: 20px;
  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.footer-social__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  outline: none;
  fill: var(--primary-background-color);
  background-color: var(--footer-social-bg);
  transition: fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    fill: var(--primary-background-color);
    background-color: var(--primary-accent-color);
  }
}
.footer-form-wrapper {
  margin-left: auto;
}
.subscribe__header {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.subscribe__wrapper {
  display: flex;
}
.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 0 0 0 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-background-color);
  background-color: var(--footer-backgroung-color);
  transition: filter var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;

  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  &::placeholder {
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0 0 0 29px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  text-align: start;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--hero-button-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
