.header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--header-line-color);

  &-wrapper {
    display: flex;
    align-items: center;
  }
}
.header-logo {
  margin-right: 93px;
}
.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    padding-left: 0;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }

  &.current {
    position: relative;
    color: var(--primary-accent-color);

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 4px;
      display: block;
      border-radius: 2px;
      background-color: var(--primary-accent-color);
    }
  }
}

.contacts {
  display: flex;
  margin-left: auto;
  padding-left: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  letter-spacing: 0.02em;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    min-height: 18px;
    text-decoration: none;
    color: var(--secondary-text-color);
    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--primary-accent-color);
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
