.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-accent-color);
  text-decoration: none;
  letter-spacing: 0.03em;

  &__black {
    color: var(--logo-secondary-color);
  }
  &__white {
    color: var(--primary-background-color);
  }
}
