.occupations__header {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}
.occupations__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.occupations__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.occupations__description {
  position: absolute;

  width: 100%;
  padding: 27px 0;

  color: var(--primary-background-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);

  transform: translateY(-70px);
}
