:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --primary-accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-backgroung-color: #2f303a;
  --hero-button-hover-color: #188ce8;
  --gallery-cards-border-color: #eeeeee;
  --logo-secondary-color: #000000;
  --header-line-color: #ececec;
  --hero-gradient-start: rgba(47, 48, 58, 0.58);
  --hero-gradiet-end: rgba(47, 48, 58, 0.58);
  --normal-icon-color: #afb1b8;
  --footer-social-bg: rgba(255, 255, 255, 0.1);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
